.drop-down {
  position: relative;
}
.drop-down > .toggler,
.drop-down > a:first-child {
  cursor: pointer;
}
.drop-down > .menu,
.drop-down > ul,
.drop-down > ol {
  position: absolute;
  top: 100%;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  white-space: nowrap;
  z-index: 2;
}
.drop-down.align-right > .menu,
.drop-down.align-right > ul,
.drop-down.align-right > ol {
  right: 0;
}

.drop-down > .menu:before,
.drop-down > ul:before,
.drop-down > ol:before,
.drop-down > .menu:after,
.drop-down > ul:after,
.drop-down > ol:after {
  border-top: none;
  bottom: 100%;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.drop-down > .menu:before,
.drop-down > ul:before,
.drop-down > ol:before {
  border-color: transparent transparent white transparent;
  border-width: 10px;
  left: 20px;
  z-index: 2;
}
.drop-down.align-right > .menu:before,
.drop-down.align-right > ul:before,
.drop-down.align-right > ol:before {
  left: auto;
  right: 20px;
}
.drop-down > .menu:after,
.drop-down > ul:after,
.drop-down > ol:after {
  border-color: transparent transparent #f7f7f7 transparent;
  border-width: 11px;
  left: 19px;
  z-index: 1;
}
.drop-down.align-right > .menu:after,
.drop-down.align-right > ul:after,
.drop-down.align-right > ol:after {
  left: auto;
  right: 19px;
}

.drop-down > .menu a,
.drop-down > ul a,
.drop-down > ol a {
  width: 100%;
  padding: 0.5rem 0.75rem;
  display: inline-block;
}
.drop-down:hover > .menu,
.drop-down:hover > ul,
.drop-down:hover > ol,
.drop-down a:focus + .menu,
.drop-down a:focus + ul,
.drop-down a:focus + ol {
  display: block;
  background: white;
  border-radius: 0.25em;
  color: black;
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
}
