a {
  color: #00bcd4;
}
a[aria-current="page"] {
  color: #013c44;
}
[role="status"] {
  color: orangered;
}

[hidden] {
  display: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid silver;
  vertical-align: top;
}
th {
  border-bottom: 1px solid black;
}

.text--right {
  text-align: right;
}
