html {
  font-size: 16px;
  background: black;
  font-family: sans-serif;
  line-height: 1.15;
}

html,
body {
  height: 100%;
  overflow: auto;
  background: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  margin: 0;
  color: #212529;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a[aria-current="page"] {
  color: #045230;
}

[role="status"] {
  color: orangered;
}

[hidden] {
  display: none;
}

[disabled] {
  background: silver;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}
th {
  background: whitesmoke;
  color: #495057;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom-width: 2px;
}

tr:hover {
  background: whitesmoke;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

/**
 * Utility classes
 */
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--error {
  color: orangered;
}
.display--inline-block {
  display: inline-block;
}
.display--inline {
  display: inline;
}
.display--flex {
  display: flex;
  align-items: center;
}
.justify-content--space-between {
  justify-content: space-between;
}
.vertical-align--top {
  vertical-align: top;
}
.width--100 {
  width: 100%;
}
.float--right {
  float: right;
}

/**
 * Components
 */
.list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list > li {
  display: block;
  padding: 10px;
}
.list > li + li {
  border-top: 1px solid silver;
}
.list--inline {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list--inline > li {
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 0;
}
.list--inline > li > a {
  display: inline-block;
  padding: 0 5px;
}

.drop-down {
  display: inline-block;
  position: relative;
}
.drop-down > .toggler,
.drop-down > a:first-child {
  cursor: pointer;
}
.drop-down > .toggler:after,
.drop-down > a:first-child:after {
  content: "\005E";
  display: inline-block;
  margin-left: 3px;
  transition: transform 0.15s ease-in;
  transform: rotateX(180deg);
  transform-origin: center;
}
.drop-down:hover > .toggler:after,
.drop-down:hover > a:first:after {
  transform: rotateX(0);
}
.drop-down > .menu,
.drop-down > ul,
.drop-down > ol {
  position: absolute;
  top: 100%;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
}
.drop-down:hover > .menu,
.drop-down:hover > ul,
.drop-down:hover > ol {
  display: block;
  border: 1px solid silver;
  background: white;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.spin {
  animation: fa-spin 0.6s infinite linear;
  display: inline-block;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
}
.table--fixed {
  width: 100%;
  table-layout: fixed;
}
