html {
  font-size: 16px;
  background: black;
  font-family: sans-serif;
  line-height: 1.15;
}

html,
body {
  height: 100%;
  overflow: auto;
  background: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  margin: 0;
  color: #212529;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
a {
  color: black;
}

a[aria-current="page"] {
  color: blue;
}

[role="status"] {
  color: orangered;
}

[hidden] {
  display: none !important;
}

[disabled] {
  background: silver;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}
th {
  background: whitesmoke;
  color: #495057;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom-width: 2px;
}

tr:nth-child(2n) {
  background: whitesmoke;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

label {
  font-size: 0.9rem;
}

input[type="email"],
input[type="text"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  font-size: 1rem;
  display: block;
}
input[type="email"],
input[type="text"],
input[type="date"],
input[type="password"] {
  max-width: 300px;
  display: block;
  width: 100%;
}

fieldset {
  border-color: black;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
button {
  background: black;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
legend,
button,
input[type="email"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="search"],
textarea {
  height: 32px;
  line-height: 30px;
  padding: 0 0.5em;
  border: 1px solid black;
  border-radius: 0.3em;
}
textarea {
  height: auto;
  line-height: 1.5;
  min-height: 100px;
  min-width: 200px;
  display: block;
}
button {
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

/**
 * Utility classes
 */
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--error,
.error {
  color: #b10000;
}
.display--inline-block {
  display: inline-block;
}
.display--inline {
  display: inline;
}
.display--flex {
  display: flex;
  align-items: center;
}
.justify-content--space-between {
  justify-content: space-between;
}
.vertical-align--top {
  vertical-align: top;
}
.width--100 {
  width: 100%;
}
.float--right {
  float: right;
}
.fh {
  height: 100% !important;
  overflow: auto;
}
.fvh {
  min-height: 100vh;
}

/**
 * Components
 */
.list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list > li {
  display: block;
  padding: 10px;
}
.list > li + li {
  border-top: 1px solid silver;
}
.list--inline {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list--inline > li {
  display: inline-block;
  vertical-align: top;
  border: none;
  padding: 0;
}
.list--inline > li > a {
  display: inline-block;
  padding: 0 5px;
}

.drop-down {
  display: inline-block;
  position: relative;
}
.drop-down > .toggler,
.drop-down > a:first-child {
  cursor: pointer;
}
.drop-down > .toggler:after,
.drop-down > a:first-child:after {
  content: "\005E";
  display: inline-block;
  margin-left: 3px;
  transition: transform 0.15s ease-in;
  transform: rotateX(180deg);
  transform-origin: center;
}
.drop-down:hover > .toggler:after,
.drop-down:hover > a:first:after {
  transform: rotateX(0);
}
.drop-down > .menu,
.drop-down > ul,
.drop-down > ol {
  position: absolute;
  top: 100%;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  white-space: nowrap;
  padding: 5px;
}
.drop-down:hover > .menu,
.drop-down:hover > ul,
.drop-down:hover > ol {
  display: block;
  border: 1px solid silver;
  background: white;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.spin {
  animation: fa-spin 0.6s infinite linear;
  display: inline-block;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
}
.table--fixed {
  width: 100%;
  table-layout: fixed;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.is-touched.has-error input {
  border-color: #b10000;
}
.form-group .text--error,
.form-group .error {
  background: #b10000;
  color: white;
  display: inline-block;
  padding: 3px 10px;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  margin-top: 5px;
}
.input-group {
  display: flex;
  align-items: center;
}
.input-group .form-group {
  margin: 0;
}
.input-group input:not(:first-child),
.input-group .form-group:not(:first-child) input,
.input-group button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group input:not(:last-child),
.input-group .form-group:not(:last-child) input,
.input-group button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group {
  display: inline-flex;
}
.button-group button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-group button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select {
  display: block;
}
.select > [role="group"] {
  position: relative;
  max-width: 300px;
  min-width: 100px;
}
.select [type="search"] {
  width: 100%;
}
.select [role="listbox"] {
  position: absolute;
  top: 100%;
  width: 100%;
  max-width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  background: white;
  border: 1px solid black;
  display: none;
  overflow: auto;
  max-height: 200px;
  border-radius: 0 0 5px 5px;
}
.select[data-focused="true"] [role="listbox"] {
  display: block;
}
.select[data-focused="true"] [type="search"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.select [role="listbox"] [role="option"] {
  white-space: nowrap;
  list-style: none;
  display: block;
  padding: 5px;
  outline: none !important;
}
.select [aria-readonly="true"] {
  color: silver;
}
.select [role="listbox"] [role="option"] + [role="option"] {
  border-top: 1px solid silver;
}
.select [role="listbox"] [aria-selected="true"] {
  background: black;
  color: white;
}
.select [role="listbox"] [aria-selected="true"]:before {
  content: "\2713 ";
}
.select ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.select .selected-list li {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 3px 8px;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}
.select .selected-list li:before {
  content: "\2713 ";
}
