.tp-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.tp-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.tp-icon-star-empty {
  width: 0.927734375em;
}

.tp-icon-star {
  width: 0.927734375em;
}

.tp-icon-users {
  width: 1.0712890625em;
}

.tp-icon-cancel {
  width: 0.78515625em;
}

.tp-icon-plus {
  width: 0.78515625em;
}

.tp-icon-minus {
  width: 0.78515625em;
}

.tp-icon-tags {
  width: 1.0712890625em;
}

.tp-icon-cog-alt {
  width: 1.0712890625em;
}

.tp-icon-trash-empty {
  width: 0.78515625em;
}

.tp-icon-off {
  width: 0.857421875em;
}

.tp-icon-spinner {
  width: 1.0009765625em;
}

.tp-icon-food {
  width: 0.78515625em;
}

.tp-icon-rupee {
  width: 0.5009765625em;
}

.tp-icon-child {
  width: 0.7138671875em;
}

.tp-icon-file-pdf {
  width: 0.857421875em;
}

.tp-icon-bus {
  width: 0.857421875em;
}

.tp-icon-bed {
  width: 1.1416015625em;
}

.tp-icon-map {
  width: 1.1416015625em;
}

.tp-icon-address-book {
  width: 0.927734375em;
}

.tp-icon-phone {
  width: 0.7857142857142857em;
}

.tp-icon-search {
  width: 0.9285714285714285em;
}

.tp-icon-refresh {
  width: 0.8571428571428571em;
}
